{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/Cursos/IntroduccionPHP/user/add"> Add User</li>
    <li><a href="/Cursos/IntroduccionPHP/job/add"> Add job</li>
</ul>
<br><br>
<a href="/Cursos/IntroduccionPHP/logout"> Logout </a>
{% endblock %}