{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/user/add"> Add User</li>
    <li><a href="/job/add"> Add job</li>
</ul>
<br><br>
<a href="/logout"> Logout </a>
{% endblock %}